header{
    margin-top: 3rem;
    padding-left: 40px;

}
.content{
    padding-left: 40px;
}

hr {
width: 80%;
background-color: black;
border-radius: 70px;
margin: 0;
}
main{
    width: 50%;
    border:solid;
    margin: auto;

}
.contact p{
    margin: 2px;
}
.skills p,
.education p,
.experience p,
.across p{
    margin: 2px;
}

.color{
    color: green;

}
p b h2{

      font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a:hover{
    color: blue;
}
